h1{
    text-align: center;
    margin-top: 10px ;
    color: violet;
}



body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
    background: transparent;

}



.calculator-container{
    width: 350px;
    border-radius: 20px;
    background: black;
    margin: 200px;
    padding: 25px;
    height: 500px;
    text-align: center;
    background-color: black;

}

#inputBox{
    width: 200px;
    border: none;
    padding: 10px;
    margin: 10px;
    background: transparent;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    color:#f3f3f3;
    box-shadow: 0px 3px 15px rgba(rgb(248, 236, 236));
         border: 1px solid;
}

.operator{
    
    border-radius: 50%;
    width: 70px;
    height:70px;
    border: none;
    background: grey;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  
    
}

button{
margin:2px;
margin-left:5px;
padding: 2px ;
     border-radius: 50%;
    width: 70px;
    height:70px;
    border: none;
    background: grey;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(rgb(182, 166, 166));
    
    
    
}

.operator:hover{
    background: #d1d1d1;
}

.calculator-button{
    margin: 2.5px;
}

.special{
    background-color: greenyellow;
}
